/* rosshyndman.com custom styles */
/* site-wide constants */
/* page constants */
/* color constants */
/* primaries */
body {
  font-size: 15px;
  font-family: verdana;
  color: #444; }

footer {
  height: 40px; }

.content-centered {
  width: 950px;
  margin: 0 auto; }

/* header */
header {
  font-family: "Yanone Kaffeesatz", arial, serif;
  font-weight: bold; }

#topper {
  height: 42px;
  background: url("../img/logo.png") no-repeat 0 25px; }

.title {
  font-size: 55px;
  height: 55px;
  text-transform: uppercase; }

#title1 {
  color: #FFF;
  background: url("../img/logo.png") no-repeat 0 -17px; }

#title1 h1 {
  margin-left: 100px; }

#title2 {
  color: #d3d3d3;
  background: url("../img/logo.png") no-repeat left -72px; }

#title2 h1 {
  margin-left: 350px; }

.stripe {
  background-color: #d3d3d3; }

.section-stripe {
  height: 3px; }
  .section-stripe.portfolio {
    background-color: #ffcc99; }
  .section-stripe.about {
    background-color: #bda2c8; }
  .section-stripe.contact {
    background-color: #b3cccd; }

nav {
  background: url("../img/logo.png") no-repeat left -127px;
  text-align: right;
  font-size: 37px;
  height: 37px; }

nav a {
  margin-left: 12px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none; }
  nav a.portfolio.selected {
    color: #ff7f00; }
    nav a.portfolio.selected:hover {
      color: #ff7f00; }
  nav a.portfolio:hover {
    color: #ffb266; }
  nav a.about.selected {
    color: #825793; }
    nav a.about.selected:hover {
      color: #825793; }
  nav a.about:hover {
    color: #a682b5; }
  nav a.contact.selected {
    color: #66999a; }
    nav a.contact.selected:hover {
      color: #66999a; }
  nav a.contact:hover {
    color: #a3c2c3; }

/* footer */
footer {
  background: #dddddd; }

/* content */
#content {
  height: 600px;
  overflow: hidden; }

.js #content {
  background: url("../img/watermark.gif") no-repeat 260px 50px; }

#content-scroller {
  position: relative;
  width: 10000px; }

.content-slide {
  width: 950px;
  height: 600px;
  padding-top: 40px; }

.js .content-slide {
  float: left;
  margin-right: 700px; }

.no-js .content-slide {
  background: url("../img/watermark.gif") no-repeat 260px 50px; }

.box {
  width: 312px; }

.box h2 {
  height: 37px;
  font-family: "Yanone Kaffeesatz", arial, serif;
  font-size: 37px;
  color: #dddddd;
  text-transform: uppercase; }
.box .content {
  border: 8px solid #d3d3d3;
  background: #f9f9f9; }

/* portfolio */
#portfolio {
  width: 890px;
  padding: 0 30px; }

.project-thumbs {
  list-style: none; }

/* about */
#about-restore {
  margin-left: 8px; }

#about-ross {
  width: 100%; }

.about-text {
  padding: 5px; }

/* contact */
