/* rosshyndman.com custom styles */

/* site-wide constants */

$font: 'Yanone Kaffeesatz', arial, serif;

$primary: #D3D3D3;
$secondary: #DDD;
$content-width: 950px;
$content-height: 470px;
$box-content-bg: #F9F9F9;
$footer-height: 40px;

/* page constants */

$portfolio-padding: 67px;

/* color constants */

$portfolio-highlight: #FF7F00;
$portfolio-faded: lighten($portfolio-highlight, 20%);
$portfolio-more-faded: lighten($portfolio-faded, 10%);

$about-faded: #A682B5;
$about-highlight: darken($about-faded, 15%);
$about-more-faded: lighten($about-faded, 10%);

$contact-highlight: #66999A;
$contact-faded: lighten($contact-highlight, 20%);
$contact-more-faded: lighten($contact-faded, 5%);

/* primaries */

body {
	font-size: 15px;
	font-family: verdana;
	color: #444;
}

footer {
	height: $footer-height;
} 

.content-centered {
	width: $content-width;
	margin: 0 auto;
}

/* header */

header {
	font-family: $font;
	font-weight: bold;
}

#topper {
	height: 42px;
	background: url('../img/logo.png') no-repeat 0 25px;
}

.title {
	font-size: 55px;
	height: 55px;
	text-transform: uppercase;
}

#title1 {
	color: #FFF;
	background: url('../img/logo.png') no-repeat 0 -17px;
}

#title1 h1 {
	margin-left: 100px;
}

#title2 {
	color: $primary;
	background: url('../img/logo.png') no-repeat left -72px;
}

#title2 h1 {
	margin-left: 350px;
}

.stripe {
	background-color: $primary;
}

.section-stripe {
	height: 3px;
	&.portfolio {
		background-color: $portfolio-more-faded;
	}
	&.about {
		background-color: $about-more-faded;
	}
	&.contact {
		background-color: $contact-more-faded;
	}
}

nav {
	background: url('../img/logo.png') no-repeat left -127px;
	text-align: right;
	font-size: 37px;
	height: 37px;
}

nav a {
	margin-left: 12px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	
	&.portfolio {
		&.selected {
			color: $portfolio-highlight;
			&:hover {
				color: $portfolio-highlight;
			}
		}
		&:hover { 
			color: $portfolio-faded;
		}
	}
	&.about {
		&.selected {
			color: $about-highlight;
			&:hover {
				color: $about-highlight;
			}
		}
		&:hover { 
			color: $about-faded;
		}
	}
	&.contact {
		&.selected {
			color: $contact-highlight;
			&:hover {
				color: $contact-highlight;
			}
		}
		&:hover { 
			color: $contact-faded;
		}
	}	
}

/* footer */

footer {
	background: $secondary;
}

/* content */

#content {
	height: $content-height;
	overflow: hidden;
}

.js #content {
	background: url('../img/watermark.gif') no-repeat 260px 50px;
}

#content-scroller {
	position: relative;
	width: 10000px;
}

.content-slide {
	width: $content-width;
	height: $content-height;
	padding-top: 40px;
}

.js .content-slide {
	float: left;
	margin-right: 700px;
}

.no-js .content-slide {
	background: url('../img/watermark.gif') no-repeat 260px 50px;
}

.box {
	width: 312px;
}

.box {
	h2 {
		height: 37px;
		font-family: $font;
		font-size: 37px;
		color: $secondary;
		text-transform: uppercase;
	}
	
	.content {
		border: 8px solid $primary;
		background: $box-content-bg;
	}
}

/* portfolio */

#portfolio {
	width: $content-width - 2 * $portfolio-padding;
	padding: 0 $portfolio-padding;
	
	.box {
		cursor: hand;
		cursor: pointer;	
		.portfolio-img {
			height: 180px;
		}
		&:hover {
			h2 {
				color: $portfolio-highlight;
			}
			.content {
				border-color: $portfolio-faded;
			}
		}
	}
}

#portfolio-projects {
	float: right;
	.portfolio-img {
		background: url('../img/portfolio-projects.jpg') no-repeat top left;
	}
}

#portfolio-specialty {
	margin: 40px auto 0;
	.portfolio-img {
		background: url('../img/portfolio-specialty.jpg') no-repeat top left;
	}
}

#portfolio-designs .portfolio-img {
	background: url('../img/portfolio-designs.jpg') no-repeat top left;
}

/* about */

#about-restore {
	margin-left: 8px;
}

#about-ross {
	width: 100%;
}

.about-text {
	padding: 5px;
}

/* contact */