/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 16, ../css_src/screen.scss */
body {
  background: #333333;
  color: #a8bd3a;
  font-family: "Century Gothic";
}

/* line 24, ../css_src/screen.scss */
#rhl {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 30, ../css_src/screen.scss */
#logo-img {
  display: inline;
  float: left;
  margin-right: 0;
  width: 90px;
  min-height: 100%;
  height: 300px;
  background: transparent url(../img/logo-tree.png) no-repeat 0px 20px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo-img {
  overflow-x: hidden;
}

/* line 37, ../css_src/screen.scss */
header, .title-line {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header, * html .title-line {
  overflow-x: hidden;
}

/* line 41, ../css_src/screen.scss */
.logo-title {
  display: inline;
  float: left;
  margin-right: 0;
  width: 345px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .logo-title {
  overflow-x: hidden;
}

/* line 45, ../css_src/screen.scss */
#portfolio-nav, #portfolio-indicator {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 210px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #portfolio-nav, * html #portfolio-indicator {
  overflow-x: hidden;
}

/* line 49, ../css_src/screen.scss */
#about-nav, #about-indicator {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 135px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #about-nav, * html #about-indicator {
  overflow-x: hidden;
}

/* line 53, ../css_src/screen.scss */
#contact-nav, #contact-indicator {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 180px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contact-nav, * html #contact-indicator {
  overflow-x: hidden;
}

/* line 57, ../css_src/screen.scss */
header {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 32px;
}
/* line 62, ../css_src/screen.scss */
header h1 {
  margin-bottom: -5px;
}

/* line 68, ../css_src/screen.scss */
#title-line-1 h1 {
  padding-left: 10px;
}

/* line 73, ../css_src/screen.scss */
#title-line-2 {
  background-color: #000;
}
/* line 78, ../css_src/screen.scss */
#title-line-2 nav a:link, #title-line-2 nav a:visited {
  color: #FFF;
  text-decoration: none;
}
/* line 82, ../css_src/screen.scss */
#title-line-2 nav a:hover {
  color: #a8bd3a;
  text-decoration: none;
}
/* line 89, ../css_src/screen.scss */
#title-line-2 nav li {
  margin-bottom: -5px;
}

/* line 96, ../css_src/screen.scss */
#title-line-3 div {
  height: 6px;
}

/* line 103, ../css_src/screen.scss */
#content {
  margin-top: 88px;
}
/* line 106, ../css_src/screen.scss */
#content .content-slide {
  height: 570px;
}

/* line 116, ../css_src/screen.scss */
#portfolio-projects {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 210px;
  height: 548px;
  background-color: #000;
  padding-top: 15px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #portfolio-projects {
  overflow-x: hidden;
}
/* line 123, ../css_src/screen.scss */
#portfolio-projects li {
  list-style-type: none;
  padding: 5px 0 5px 30px;
}
/* line 129, ../css_src/screen.scss */
#portfolio-projects a:link {
  color: #FFF;
  text-decoration: none;
}
/* line 133, ../css_src/screen.scss */
#portfolio-projects a:hover {
  color: #a8bd3a;
}

/* line 139, ../css_src/screen.scss */
#portfolio-projects-indicator {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 15px;
  min-height: 100%;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #portfolio-projects-indicator {
  overflow-x: hidden;
}

/* line 144, ../css_src/screen.scss */
#portfolio-selected-project {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 645px;
  height: 563px;
  background-color: #000;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #portfolio-selected-project {
  overflow-x: hidden;
}

/* line 150, ../css_src/screen.scss */
#portfolio-selected-img {
  margin: 7px 0 0px 10px;
}

/* line 154, ../css_src/screen.scss */
#portfolio-thumbnails {
  height: 82px;
  width: 635px;
  overflow: hidden;
}
/* line 159, ../css_src/screen.scss */
#portfolio-thumbnails ul {
  width: 1000px;
  list-style-type: none;
  margin-left: 4px;
}
/* line 165, ../css_src/screen.scss */
#portfolio-thumbnails li {
  display: inline;
  float: left;
  padding-top: 4px;
  margin-left: 7px;
}
/* line 171, ../css_src/screen.scss */
#portfolio-thumbnails li:hover {
  background-color: #a8bd3a;
}

/* line 177, ../css_src/screen.scss */
.selected {
  background-color: #a8bd3a;
}
