/* line 4, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 28, ../css_src/screen.scss */
body {
  background: white;
  color: #666666;
  font-family: "Century Gothic";
}

/* line 34, ../css_src/screen.scss */
a, a:link, a:active, a:visited {
  color: #555;
  text-decoration: none;
}

/* line 39, ../css_src/screen.scss */
a.active {
  color: #afc923;
  font-weight: bold;
}

/* line 46, ../css_src/screen.scss */
#header-container {
  border-bottom: #333333 solid 5px;
  height: 95px;
}

/* line 51, ../css_src/screen.scss */
header {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 95px;
}

/* line 56, ../css_src/screen.scss */
#logo-title {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 480px;
  background: transparent url("../img/logo.png") no-repeat;
  height: 95px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo-title {
  overflow-x: hidden;
}

/* line 62, ../css_src/screen.scss */
#header-info-blurb {
  display: inline;
  float: left;
  margin-right: 0;
  width: 480px;
  font-size: 11px;
  text-align: right;
  line-height: 20px;
  margin-top: 20px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header-info-blurb {
  overflow-x: hidden;
}
/* line 70, ../css_src/screen.scss */
#header-info-blurb em {
  font-size: 17px;
  color: #afc923;
}

/* line 78, ../css_src/screen.scss */
#content-container {
  height: 530px;
  overflow-y: hidden;
  margin-top: 3px;
  border-top: #afc923 solid 5px;
  border-bottom: #afc923 solid 5px;
}

/* line 86, ../css_src/screen.scss */
#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
}
/* line 90, ../css_src/screen.scss */
#content nav {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -390px 1.5em 390px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 615px;
  margin-top: 27px;
  margin-bottom: 20px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content nav {
  overflow-x: hidden;
}
/* line 96, ../css_src/screen.scss */
#content nav ul {
  list-style-type: none;
}
/* line 100, ../css_src/screen.scss */
#content nav li {
  font-size: 11px;
  text-transform: uppercase;
  float: left;
}
/* line 105, ../css_src/screen.scss */
#content nav li a {
  text-align: center;
  display: block;
}

/* line 113, ../css_src/screen.scss */
#home-nav {
  width: 68px;
}

/* line 114, ../css_src/screen.scss */
#portfolio-nav {
  width: 85px;
}

/* line 115, ../css_src/screen.scss */
#services-nav {
  width: 103px;
}

/* line 116, ../css_src/screen.scss */
#approach-nav {
  width: 117px;
}

/* line 117, ../css_src/screen.scss */
#contact-nav {
  width: 78px;
}

/* line 119, ../css_src/screen.scss */
.page {
  height: 530px;
  margin-bottom: 100px;
}

/* line 124, ../css_src/screen.scss */
.page-text {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 300px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page-text {
  overflow-x: hidden;
}
/* line 127, ../css_src/screen.scss */
.page-text p {
  font-size: 11px;
  line-height: 20px;
  text-align: justify;
}
/* line 133, ../css_src/screen.scss */
.page-text em {
  font-weight: bold;
}

/* line 138, ../css_src/screen.scss */
.page-pictures {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 615px;
  margin-left: 37px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page-pictures {
  overflow-x: hidden;
}
/* line 143, ../css_src/screen.scss */
.page-pictures .slice {
  width: 565px;
  height: 141px;
  margin-bottom: 5px;
}

/* line 150, ../css_src/screen.scss */
.quote {
  font-style: italic;
}

/* line 154, ../css_src/screen.scss */
.top-slice {
  margin-top: 5px;
}

/* line 158, ../css_src/screen.scss */
.middle-slice {
  margin-left: 26px;
}

/* line 162, ../css_src/screen.scss */
.bottom-slice {
  margin-left: 52px;
}

/* line 166, ../css_src/screen.scss */
.spacer {
  margin: 4px auto;
  display: block;
}

/* line 172, ../css_src/screen.scss */
#home .top-slice {
  background-image: url("../img/slices/home/top.jpg");
}
/* line 175, ../css_src/screen.scss */
#home .middle-slice {
  background-image: url("../img/slices/home/middle.jpg");
}
/* line 178, ../css_src/screen.scss */
#home .bottom-slice {
  background-image: url("../img/slices/home/bottom.jpg");
}

/* line 185, ../css_src/screen.scss */
#portfolio .slice div {
  width: 565px;
  height: 141px;
  background-color: #afc923;
  cursor: pointer;
  cursor: hand;
  /* Opacity */
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 195, ../css_src/screen.scss */
#portfolio .slice div h3 {
  color: #222;
  font-size: 14px;
  /*font-weight: bold;*/
  text-align: center;
  letter-spacing: 1px;
  padding-top: 60.5px;
}
/* line 205, ../css_src/screen.scss */
#portfolio .top-slice {
  background-image: url("../img/slices/portfolio/squires.jpg");
}
/* line 208, ../css_src/screen.scss */
#portfolio .middle-slice {
  background-image: url("../img/slices/portfolio/rlf.jpg");
}
/* line 211, ../css_src/screen.scss */
#portfolio .bottom-slice {
  background-image: url("../img/slices/portfolio/design.jpg");
}

/* line 217, ../css_src/screen.scss */
#services .top-slice {
  background-image: url("../img/slices/services/top.jpg");
}
/* line 220, ../css_src/screen.scss */
#services .middle-slice {
  background-image: url("../img/slices/services/middle.jpg");
}
/* line 223, ../css_src/screen.scss */
#services .bottom-slice {
  background-image: url("../img/slices/services/bottom.jpg");
}

/* line 229, ../css_src/screen.scss */
#approach .top-slice {
  background-image: url("../img/slices/approach/top.jpg");
}
/* line 232, ../css_src/screen.scss */
#approach .middle-slice {
  background-image: url("../img/slices/approach/middle.jpg");
}
/* line 235, ../css_src/screen.scss */
#approach .bottom-slice {
  background-image: url("../img/slices/approach/bottom.jpg");
}

/* line 240, ../css_src/screen.scss */
#contact {
  font-size: 13px;
}
/* line 243, ../css_src/screen.scss */
#contact input, #contact textarea {
  color: #666666;
  background-color: #e2e2e2;
  font-size: 16px;
  width: 100%;
  padding: 5px 5px;
  border: none;
  display: block;
  border: 1px solid #CCC;
}
/* line 253, ../css_src/screen.scss */
#contact input.error, #contact textarea.error {
  border: 1px solid #F00;
  background-color: #FEE;
}
/* line 259, ../css_src/screen.scss */
#contact .submit-container {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
}
/* line 265, ../css_src/screen.scss */
#contact textarea {
  height: 250px;
}

/* line 270, ../css_src/screen.scss */
#contact-deets {
  padding-top: 94px;
}

/* line 274, ../css_src/screen.scss */
#contact-deets-labels {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -225px 1.5em 225px;
  display: inline;
  float: left;
  margin-right: 0px;
  width: 150px;
  height: 530px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contact-deets-labels {
  overflow-x: hidden;
}
/* line 279, ../css_src/screen.scss */
#contact-deets-labels h4 {
  font-weight: bold;
  margin-bottom: 14px;
}

/* line 286, ../css_src/screen.scss */
#contact-deets-values div {
  margin-bottom: 14px;
}

/* line 294, ../css_src/screen.scss */
footer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 297, ../css_src/screen.scss */
footer h2 {
  background: transparent url("../img/get-outside.png") no-repeat right top;
  height: 33px;
  margin-top: 3px;
}

/* For image replacement */
/* line 307, ../css_src/screen.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 311, ../css_src/screen.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 315, ../css_src/screen.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 319, ../css_src/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 322, ../css_src/screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 325, ../css_src/screen.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* line 329, ../css_src/screen.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 330, ../css_src/screen.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 332, ../css_src/screen.scss */
.clearfix {
  zoom: 1;
}
