/* line 4, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: 'Koblenz';
  src: url("../fonts/koblenz-regular-webfont.eot");
  src: url("../fonts/koblenz-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/koblenz-regular-webfont.woff") format("woff"), url("../fonts/koblenz-regular-webfont.ttf") format("truetype"), url("../fonts/koblenz-regular-webfont.svg#koblenz-regularregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Koblenz';
  src: url("../fonts/koblenz-bold-webfont.eot");
  src: url("../fonts/koblenz-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/koblenz-bold-webfont.woff") format("woff"), url("../fonts/koblenz-bold-webfont.ttf") format("truetype"), url("../fonts/koblenz-bold-webfont.svg#koblenz-boldregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* line 51, ../css_src/screen.scss */
body {
  background: white;
  color: #333333;
  font-family: "Koblenz";
  margin-top: 12px;
}

/* line 58, ../css_src/screen.scss */
a, a:link, a:active, a:visited {
  color: #555;
  text-decoration: none;
}

/* line 63, ../css_src/screen.scss */
a.active {
  color: #ab2430;
  font-weight: bold;
}

/* line 70, ../css_src/screen.scss */
#header-container {
  height: 95px;
}

/* line 74, ../css_src/screen.scss */
#header {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 95px;
}

/* line 79, ../css_src/screen.scss */
#logo-title {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 390px;
  background: transparent url("../img/logo.png") 0 6px no-repeat;
  height: 95px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo-title {
  overflow-x: hidden;
}

/* line 85, ../css_src/screen.scss */
nav.pages {
  display: inline;
  float: left;
  width: 491px;
  margin-top: 68px;
  margin-left: 78px;
}
/* line 92, ../css_src/screen.scss */
nav.pages ul {
  list-style-type: none;
}
/* line 96, ../css_src/screen.scss */
nav.pages li {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  padding: 0 13px;
}
/* line 104, ../css_src/screen.scss */
nav.pages li:last-child {
  padding-right: 0;
}
/* line 108, ../css_src/screen.scss */
nav.pages li a {
  text-align: center;
  display: block;
}

/* line 117, ../css_src/screen.scss */
#content-container {
  height: 480px;
  overflow-y: hidden;
  margin-top: 20px;
}

/* line 123, ../css_src/screen.scss */
#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
}

/* line 128, ../css_src/screen.scss */
.page {
  height: 480px;
  margin-bottom: 100px;
}

/* line 133, ../css_src/screen.scss */
.page-text {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 285px;
  margin-left: 30px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page-text {
  overflow-x: hidden;
}
/* line 137, ../css_src/screen.scss */
.page-text p {
  font-size: 11px;
  line-height: 20px;
  text-align: justify;
}
/* line 143, ../css_src/screen.scss */
.page-text em {
  font-weight: bold;
}

/* line 148, ../css_src/screen.scss */
.page-pictures {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 570px;
  overflow: none;
  margin-left: 75px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page-pictures {
  overflow-x: hidden;
}
/* line 154, ../css_src/screen.scss */
.page-pictures .slice {
  width: 565px;
  height: 141px;
  margin-bottom: 13px;
}

/* line 161, ../css_src/screen.scss */
.testimonial {
  font-style: italic;
  margin-bottom: 0 !important;
}

/* line 167, ../css_src/screen.scss */
#home .page-text p {
  font-size: 12px;
  margin-bottom: 16px;
}
/* line 172, ../css_src/screen.scss */
#home .top-slice {
  background-image: url("../img/slices/home/top.jpg");
}
/* line 175, ../css_src/screen.scss */
#home .middle-slice {
  background-image: url("../img/slices/home/middle.jpg");
}
/* line 178, ../css_src/screen.scss */
#home .bottom-slice {
  background-image: url("../img/slices/home/bottom.jpg");
}

/* line 184, ../css_src/screen.scss */
#portfolio .page-text p {
  margin-bottom: 16px;
}
/* line 188, ../css_src/screen.scss */
#portfolio .slice {
  overflow: hidden;
  cursor: pointer;
  cursor: hand;
}
/* line 194, ../css_src/screen.scss */
#portfolio .slice-overlay {
  width: 565px;
  height: 141px;
  background-color: #ab2430;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 201, ../css_src/screen.scss */
#portfolio h3 {
  color: #222;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 60.5px;
  position: relative;
  margin-top: -141px;
}
/* line 212, ../css_src/screen.scss */
#portfolio .page-text p {
  font-size: 12px;
}
/* line 216, ../css_src/screen.scss */
#portfolio .call-to-action {
  color: #222;
  font-size: 12px;
  background-color: #BBB;
  padding: 5px 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: inline;
  float: right;
  margin-top: 111px;
  margin-right: 5px;
}
/* line 230, ../css_src/screen.scss */
#portfolio .portfolio-nav {
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 0px;
}
/* line 236, ../css_src/screen.scss */
#portfolio .portfolio-nav a {
  margin: 0 3px;
}
/* line 242, ../css_src/screen.scss */
#portfolio .page-1 .top-slice {
  background-image: url("../img/slices/portfolio/squires.jpg");
}
/* line 245, ../css_src/screen.scss */
#portfolio .page-1 .middle-slice {
  background-image: url("../img/slices/portfolio/deloraine.jpg");
}
/* line 248, ../css_src/screen.scss */
#portfolio .page-1 .bottom-slice {
  background-image: url("../img/slices/portfolio/bedford_park.jpg");
}
/* line 254, ../css_src/screen.scss */
#portfolio .page-2 .top-slice {
  background-image: url("../img/slices/portfolio/rouge_river.jpg");
}
/* line 257, ../css_src/screen.scss */
#portfolio .page-2 .middle-slice {
  background-image: url("../img/slices/portfolio/rlf.jpg");
}
/* line 260, ../css_src/screen.scss */
#portfolio .page-2 .bottom-slice {
  background-image: url("../img/slices/portfolio/design.jpg");
}

/* line 267, ../css_src/screen.scss */
#services h4 {
  font-size: 12px;
  font-weight: 400;
}
/* line 271, ../css_src/screen.scss */
#services h4::before {
  content: '[';
  color: #ab2430;
  margin-right: 2px;
}
/* line 277, ../css_src/screen.scss */
#services h4::after {
  content: ']';
  color: #ab2430;
  margin-left: 2px;
}
/* line 284, ../css_src/screen.scss */
#services p {
  margin: 3px 0 6px 10px;
}
/* line 288, ../css_src/screen.scss */
#services .page-text {
  width: 370px;
}
/* line 292, ../css_src/screen.scss */
#services .page-pictures {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 495px;
  overflow: none;
  margin-left: 50px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #services .page-pictures {
  overflow-x: hidden;
}
/* line 299, ../css_src/screen.scss */
#services .top-slice {
  background-image: url("../img/slices/services/top.jpg");
}
/* line 302, ../css_src/screen.scss */
#services .middle-slice {
  background-image: url("../img/slices/services/middle.jpg");
}
/* line 305, ../css_src/screen.scss */
#services .bottom-slice {
  background-image: url("../img/slices/services/bottom.jpg");
}

/* line 311, ../css_src/screen.scss */
#approach .page-text {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 300px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #approach .page-text {
  overflow-x: hidden;
}
/* line 314, ../css_src/screen.scss */
#approach .page-text p {
  margin-bottom: 16px;
}
/* line 319, ../css_src/screen.scss */
#approach .page-pictures {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 570px;
  margin-left: 60px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #approach .page-pictures {
  overflow-x: hidden;
}
/* line 324, ../css_src/screen.scss */
#approach .top-slice {
  background-image: url("../img/slices/approach/top.jpg");
}
/* line 327, ../css_src/screen.scss */
#approach .middle-slice {
  background-image: url("../img/slices/approach/middle.jpg");
}
/* line 330, ../css_src/screen.scss */
#approach .bottom-slice {
  background-image: url("../img/slices/approach/bottom.jpg");
  background-position: -3px 0;
}

/* line 336, ../css_src/screen.scss */
#contact {
  font-size: 13px;
}
/* line 339, ../css_src/screen.scss */
#contact input, #contact textarea {
  color: #333333;
  background-color: #e2e2e2;
  font-size: 16px;
  width: 100%;
  padding: 5px 5px;
  border: none;
  display: block;
  border: 1px solid #cccccc;
}
/* line 349, ../css_src/screen.scss */
#contact input.error, #contact textarea.error {
  border: 1px solid red;
  background-color: #FEE;
}
/* line 355, ../css_src/screen.scss */
#contact .submit-container {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
}
/* line 361, ../css_src/screen.scss */
#contact textarea {
  height: 250px;
}
/* line 365, ../css_src/screen.scss */
#contact .address h5 {
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 371, ../css_src/screen.scss */
#contact-deets {
  padding-top: 20px;
}

/* line 375, ../css_src/screen.scss */
#contact-deets-labels {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -225px 1.5em 225px;
  display: inline;
  float: left;
  margin-right: 0px;
  width: 150px;
  height: 480px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contact-deets-labels {
  overflow-x: hidden;
}
/* line 380, ../css_src/screen.scss */
#contact-deets-labels h4 {
  font-weight: bold;
  margin-bottom: 14px;
}

/* line 387, ../css_src/screen.scss */
#contact-deets-values div {
  margin-bottom: 14px;
}

/* line 395, ../css_src/screen.scss */
footer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 399, ../css_src/screen.scss */
footer .phone {
  border-bottom: #ab2430 solid 1px;
  text-align: right;
  color: #ab2430;
}
/* line 405, ../css_src/screen.scss */
footer .deets {
  color: #666;
  font-size: 13px;
  padding-top: 4px;
}
/* line 410, ../css_src/screen.scss */
footer .deets .pull-right {
  text-align: right;
}

/* line 416, ../css_src/screen.scss */
.pull-left {
  float: left;
}

/* line 420, ../css_src/screen.scss */
.pull-right {
  float: right;
}

/* For image replacement */
/* line 427, ../css_src/screen.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 431, ../css_src/screen.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 435, ../css_src/screen.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 439, ../css_src/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 442, ../css_src/screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 445, ../css_src/screen.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* line 449, ../css_src/screen.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 450, ../css_src/screen.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 452, ../css_src/screen.scss */
.clearfix {
  zoom: 1;
}
