// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import opacity functionality
@import "compass/css3/opacity";

// Constants

$highlight-color: #AB2430;
$site-background: #FFF;
$title-font-size: 12px;
$header-height: 95px;
$body-font-size: 11px;
$larger-font-size: 12px;
$body-font-family: "Koblenz";
$body-line-height: 20px;
$body-font-color: #333;
$content-height: 480px;
$input-color: #E2E2E2;
$label-font-size: 13px;
$input-font-size: 16px;

@font-face {
    font-family: 'Koblenz';
    src: url('../fonts/koblenz-regular-webfont.eot');
    src: url('../fonts/koblenz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/koblenz-regular-webfont.woff') format('woff'),
         url('../fonts/koblenz-regular-webfont.ttf') format('truetype'),
         url('../fonts/koblenz-regular-webfont.svg#koblenz-regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Koblenz';
    src: url('../fonts/koblenz-bold-webfont.eot');
    src: url('../fonts/koblenz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/koblenz-bold-webfont.woff') format('woff'),
         url('../fonts/koblenz-bold-webfont.ttf') format('truetype'),
         url('../fonts/koblenz-bold-webfont.svg#koblenz-boldregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
	background: $site-background;
	color: $body-font-color;
	font-family: $body-font-family;
}

a, a:link, a:active, a:visited {
  color: #555;
  text-decoration: none;
}

a.active {
  color: $highlight-color;
  font-weight: bold;
}

// Header

#header-container {
  height: $header-height;
}

#header {
	@include container;
	height: $header-height;
}

#logo-title {
	@include column(26);
	background: transparent url('../img/logo.png') 0 6px no-repeat;
	height: $header-height;
}

nav.pages {
  display: inline;
  float: left;
  width: 491px;
  margin-top: 68px;
  margin-left: 78px;

  ul {
    list-style-type: none;
  }

  li {
    font-size: $body-font-size + 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    padding: 0 13px;

    &:last-child {
      padding-right: 0;
    }

    a {
      text-align: center;
      display: block;
    }
  }
}

// Content

#content-container {
  height: $content-height;
  overflow-y: hidden;
  margin-top: 20px;
}

#content {
  @include container;
  margin: 0 auto;
}

.page {
  height: $content-height;
  margin-bottom: 100px;
}

.page-text {
  @include column(19);
  margin-left: 30px;

  p {
    font-size: $body-font-size;
    line-height: $body-line-height;
    text-align: justify;
  }

  em {
    font-weight: bold;
  }
}

.page-pictures {
  @include column(38);

  overflow: none;
  margin-left: 75px;

  .slice {
    width: 565px;
    height: 141px;
    margin-bottom: 13px;
  }
}

.testimonial {
  font-style: italic;
  margin-bottom: 0 !important;
}

#home {
  .page-text p {
    font-size: $larger-font-size;
    margin-bottom: 16px;
  }

  .top-slice {
    background-image: url('../img/slices/home/top.jpg');
  }
  .middle-slice {
    background-image: url('../img/slices/home/middle.jpg');
  }
  .bottom-slice {
    background-image: url('../img/slices/home/bottom.jpg');
  }
}

#portfolio {
  .page-text p {
    margin-bottom: 16px;
  }

  .slice {
    overflow: hidden;
    cursor:pointer;
    cursor:hand;
  }

  .slice-overlay {
    width: 565px;
    height: 141px;
    background-color: $highlight-color;
    @include opacity(0.7);
  }

  h3 {
      color: #222;
      font-size: 14px;
      text-align: center;
      letter-spacing: 1px;
      padding-top: (141px - 20px) / 2;

      position: relative;
      margin-top: -141px;
  }

  .page-text p {
    font-size: $larger-font-size;
  }

  .call-to-action {
    color: #222;
    font-size: 12px;
    background-color: #BBB;
    padding: 5px 10px;

    @include opacity(0.8);

    display: inline;
    float: right;
    margin-top: (141 - 30px);
    margin-right: 5px;
  }

  .portfolio-nav {
    font-size: $body-font-size + 1px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 0px;

    a {
      margin: 0 3px;
    }
  }

  .page-1 {
    .top-slice {
      background-image: url('../img/slices/portfolio/squires.jpg');
    }
    .middle-slice {
      background-image: url('../img/slices/portfolio/deloraine.jpg');
    }
    .bottom-slice {
      background-image: url('../img/slices/portfolio/bedford_park.jpg');
    }
  }

  .page-2 {
    .top-slice {
      background-image: url('../img/slices/portfolio/rouge_river.jpg');
    }
    .middle-slice {
      background-image: url('../img/slices/portfolio/rlf.jpg');
    }
    .bottom-slice {
      background-image: url('../img/slices/portfolio/design.jpg');
    }
  }
}

#services {
  h4 {
    font-size: 12px;
    font-weight: 400;

    &::before {
      content: '[';
      color: $highlight-color;
      margin-right: 2px;
    }

    &::after {
      content: ']';
      color: $highlight-color;
      margin-left: 2px;
    }
  }

  p {
    margin: 3px 0 6px 10px;
  }

  .page-text {
    width: 370px;
  }

  .page-pictures {
    @include column(33);

    overflow: none;
    margin-left: 50px;
  }

  .top-slice {
    background-image: url('../img/slices/services/top.jpg');
  }
  .middle-slice {
    background-image: url('../img/slices/services/middle.jpg');
  }
  .bottom-slice {
    background-image: url('../img/slices/services/bottom.jpg');
  }
}

#approach {
  .page-text {
    @include column(20);

    p {
      margin-bottom: 16px;
    }
  }

  .page-pictures {
    @include column(38);
    margin-left: 60px;
  }

  .top-slice {
    background-image: url('../img/slices/approach/top.jpg');
  }
  .middle-slice {
    background-image: url('../img/slices/approach/middle.jpg');
  }
  .bottom-slice {
    background-image: url('../img/slices/approach/bottom.jpg');
    background-position: -3px 0;
  }
}

#contact {
  font-size: $label-font-size;

  input, textarea {
    color: $body-font-color;
    background-color: $input-color;
    font-size: $input-font-size;
    width: 100%;
    padding: 5px 5px;
    border: none;
    display: block;
    border: 1px solid #CCC;

    &.error {
      border: 1px solid #F00;
      background-color: #FEE;
    }
  }

  .submit-container {
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
  }

  textarea {
    height: 250px;
  }

  .address h5 {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

#contact-deets {
  padding-top: 20px;
}

#contact-deets-labels {
  @include push(15);
  @include column(10);
  height: $content-height;

  h4 {
    font-weight: bold;
    margin-bottom: 14px;
  }
}

#contact-deets-values {
  div {
    margin-bottom: 14px;
  }
}


// Footer

footer {
  @include container;
  // margin-bottom: 6px;

  .phone {
    border-bottom: $highlight-color solid 1px;
    text-align: right;
    color: $highlight-color;
  }

  .deets {
    color: #666;
    font-size: 13px;
    padding-top: 4px;

    .pull-right {
      text-align: right;
    }
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Semantic classes (pulled from HTML5 boilerplate)

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }