// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Constants

$site-background: #FFF;
$title-font-size: 12px;

body {
	background: $site-background;
	color: #000;
	font-family: "Century Gothic";
}

// Header

#header-container {
  border-bottom: #333333 solid 5px;
}

header {
	@include container;
	height: 90px;
}

#logo-title {
	@include column(32);
}

#header-info-blurb {
  @include column(32, true);
  text-align: right;
}

// Content

#content-container {
  height: 501px;
  margin-top: 3px;
  border-top: #afc923 solid 5px;
  border-bottom: #afc923 solid 5px;
}

#content {
  @include container;
  margin: 0 auto;
  
  nav {
    @include push(23);
    @include column(41, true);
    margin-top: 27px;
    margin-bottom: 20px;
    
    ul {
      list-style-type: none;
    }
    
    li {
      font-size: 11px;
      text-transform: uppercase;
      float: left;
      margin: 0 17px;
    }
  }
}

#page-text {
  @include column(19);
  
  p {
    color: #666; 
    font-size: 10px;
    line-height: 20px;
    margin-left: 29px;
    text-align: justify;
  }
}

#page-pictures {
  @include column(41);
  
  margin-left: 37px;
  
  img.slice {
    width: 533px;
    height: 133px;
    margin-bottom: 5px;
  }
}

#top-slice {
  margin-top: 5px;
}

#middle-slice {
  margin-left: 26px;
}

#bottom-slice {
  margin-left: 52px;
}

// Footer

footer {
  @include container;
  
  h2 {
    text-align: right;
  }
}

// Semantic classes (pulled from HTML5 boilerplate)

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }